<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <a href="/app/logout">logout</a>
        <table id="itemtable">
            <tr>
                <th>item</th>
                <th>username</th>
                <th>address</th>
                <th>quantity</th>
                <th>orderid</th>

            </tr>
        </table>
        
        <script src="/js/confirmOrders.js" async defer></script>
    </body>
</html>
