<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://js.stripe.com/v3/"></script>
        <!-- <script src="https://checkout.razorpay.com/v1/checkout.js"></script> -->
    </head>

    <body>
        <a href="/app/logout">logout</a>
        <table id="itemtable">
            <tr>
                <th>item</th>
                <th>price</th>
                <th>Quantity</th>
            </tr>
        </table>
        <input type="text" name="address" id="address",placeholder="address for receiving">
        <p>Total: <h4 id="total">0</h4></p>

        <form action="/app/items/payment" method="POST" > 
            <script
                src="//checkout.stripe.com/v3/checkout.js"
                class="stripe-button"
                data-key="pk_test_51JxOJ3SJcXKxPen0ZqMHRdxWIVfSWDrh7jT6zlCWEEYml4hgaUMmLHs5WBxLKIjANqbo6lySPivukPNnz2w96EIH00IdlqEz23" 
                data-amount="7000" 
                data-currency="inr" 
                data-name="Yash Mathur" 
                data-description="Buy React.js Complete Course" 
                data-locale="auto"
                > 
                </script> 
            </form> 
        <a href="/app/user/history"> Past order</a>
        
        <script src="/js/purchaseItems.js" async defer></script>
    </body>
</html>
