<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://checkout.stripe.com/checkout.js"></script>
    </head>

    <body>
        <a href="/app/logout">logout</a>
        <table id="itemtable">
            <tr>
                <th>item</th>
                <th>price</th>
                <th>Quantity</th>
            </tr>
        </table>
        <input type="text" name="pincode" id="pincode" placeholder="pincode">
        <input type="text" name="city" id="city" placeholder="city">
        <input type="text" name="state" id="state" placeholder="state">
        <input type="text" name="country" id="country" placeholder="country">
        <p>Total: <h4 id="total">0</h4></p>

        <button type="button" id="btn" onclick="makePayment()">Pay</button>
        <a href="/app/user/history"> Delivered</a>
        <a href="/app/user/pending"> Pending</a>
        <a href="/app/user/canceled"> canceled</a>
        
        
        <script src="/js/purchaseItems.js" async defer></script>
    </body>
</html>
