<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
    
        <center>
            
            <h1>Register</h1>
            
            

            <form action="/register" method="post">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email"><br><br>
                <label for="password">Password:</label>
                <input type="text" id="password" name="password"><br><br>
                <input type="submit" value="Submit">
                <!-- <input type="hidden" name="isAdmin" value=0>
                <input type="checkbox" name="isAdmin" id="admincheck" value=1>
                
                <label for="isAdmin"> I am a admin</label><br>
                Add address
                <input type="text" placeholder="Add Address" id="event" name="events">
                <button id="add" onclick="addAddress()">Add</button><br><br>
                <ul id="sec">
                </ul> -->
              </form>
              <a href="/" type="none">Login</a>
           
        </center>
        <script src="/js/register.js" async defer></script>
    </body>
</html>